@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="row">

    </div>
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://dkstatics-public.digikala.com/digikala-adservice-banners/fb1c68ee739ee3c60201e89daf2d7ba41f0c059e_1656315396.jpg?x-oss-process=image/quality,q_95"
                     alt="Los Angeles" width="100%" height="auto">
                <div class="carousel-caption">

                </div>
            </div>
            <div class="carousel-item">
                <img src="https://dkstatics-public.digikala.com/digikala-adservice-banners/f070d1b824c9c7e59ce254886bb7fa53e2abc7a8_1656138269.jpg?x-oss-process=image/quality,q_95"
                     alt="Chicago" width="100%" height="auto">
                <div class="carousel-caption">

                </div>
            </div>
            <div class="carousel-item">
                <img src="https://dkstatics-public.digikala.com/digikala-adservice-banners/4f9b513e282c60c980b0835141ac3148fca491b6_1656271447.jpg?x-oss-process=image/quality,q_95"
                     alt="New York" width="100%" height="auto">
                <div class="carousel-caption">

                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

</div>

<br>


<hr>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="one-slider">
                <h4>دوربین عکاسی</h4>
                <div class="owl-carousel owl-theme ov1 owl-rtl owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(1454px, 0px, 0px); transition: all 0.25s ease 0s; width: 3997px;">
                            <div class="owl-item cloned" style="width: 353.333px; margin-left: 10px;">
                                <div class="item">
                                    <figure>
                                        <a href=""><img src="~/vsLayout/Imge/Canon_EOS_400D.png" class="w-100"></a>
                                    </figure>
                                    <h5>canon S-500</h5>
                                    <span>1,200,000 تومان</span>
                                </div>
                            </div><div class="owl-item cloned" style="width: 353.333px; margin-left: 10px;">
                                <div class="item">
                                    <figure>
                                        <a href=""><img src="~/vsLayout/Imge/Canon_EOS_400D.png" class="w-100"></a>
                                    </figure>
                                    <h5>Canon_EOS_400D</h5>
                                    <span>1,200,000 تومان</span>
                                </div>
                            </div><div class="owl-item cloned" style="width: 353.333px; margin-left: 10px;">
                                <div class="item">
                                    <figure>
                                        <a href=""><img src="~/vsLayout/Imge/Canon_EOS_400D.png" class="w-100"></a>
                                    </figure>
                                    <h5>canon d10</h5>
                                    <span>1,200,000 تومان</span>
                                </div>
                            </div><div class="owl-item" style="width: 353.333px; margin-left: 10px;">
                                <div class="item">
                                    <figure>
                                        <a href=""><img src="~/vsLayout/Imge/Canon_EOS_400D.png" class="w-100"></a>
                                    </figure>
                                    <h5>canon-ef-50mm</h5>
                                    <span>1,200,000 تومان</span>
                                </div>
                            </div><div class="owl-item active" style="width: 353.333px; margin-left: 10px;">
                                <div class="item">
                                    <figure>
                                        <a href=""><img src="~/vsLayout/Imge/Canon_EOS_400D.png" class="w-100"></a>
                                    </figure>
                                    <h5>canon 55mmSTM</h5>
                                    <span>1,200,000 تومان</span>
                                </div>
                            </div><div class="owl-item active" style="width: 353.333px; margin-left: 10px;">
                                <div class="item">
                                    <figure>
                                        <a href=""><img src="~/vsLayout/Imge/Canon_EOS_400D.png" class="w-100"></a>
                                    </figure>
                                    <h5>canon S-500</h5>
                                    <span>1,200,000 تومان</span>
                                </div>
                            </div><div class="owl-item active" style="width: 353.333px; margin-left: 10px;">
                                <div class="item">
                                    <figure>
                                        <a href=""><img src="~/vsLayout/Imge/Canon_EOS_400D.png" class="w-100"></a>
                                    </figure>
                                    <h5>Canon_EOS_400D</h5>
                                    <span>1,200,000 تومان</span>
                                </div>
                            </div><div class="owl-item active" style="width: 353.333px; margin-left: 10px;">
                                <div class="item">
                                    <figure>
                                        <a href=""><img src="~/vsLayout/Imge/Canon_EOS_400D.png" class="w-100"></a>
                                    </figure>
                                    <h5>canon d10</h5>
                                    <span>1,200,000 تومان</span>
                                </div>
                            </div><div class="owl-item cloned" style="width: 353.333px; margin-left: 10px;">
                                <div class="item">
                                    <figure>
                                        <a href=""><img src="~/vsLayout/Imge/Canon_EOS_400D.png" class="w-100"></a>
                                    </figure>
                                    <h5>canon-ef-50mm</h5>
                                    <span>1,200,000 تومان</span>
                                </div>
                            </div><div class="owl-item cloned" style="width: 353.333px; margin-left: 10px;">
                                <div class="item">
                                    <figure>
                                        <a href=""><img src="~/vsLayout/Imge/Canon_EOS_400D.png" class="w-100"></a>
                                    </figure>
                                    <h5>canon 55mmSTM</h5>
                                    <span>1,200,000 تومان</span>
                                </div>
                            </div><div class="owl-item cloned" style="width: 353.333px; margin-left: 10px;">
                                <div class="item">
                                    <figure>
                                        <a href=""><img src="~/vsLayout/Imge/Canon_EOS_400D.png" class="w-100"></a>
                                    </figure>
                                    <h5>canon S-500</h5>
                                    <span>1,200,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="coopen">
                <img src="~/vsLayout/Imge/coopen.png" class="w-100">
            </div>
        </div>
        <div class="col-md-9">
            <div class="vizheh">
                <div class="col-md-6">
                    <div class="vizheh-img">
                        <img src="~/vsLayout/Imge/p20lite-listimage-black.png" class="w-100">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="vizheh-content">
                        <div><del>729,000 تومان</del></div>
                        <h4>685,000 تومان</h4>
                        <h3>Huawei Tab Y300G2</h3>
                        <ul>
                            <li>حافظه داخلی 32 گیگابایت</li>
                            <li>دوربین 13 مگاپیکسل</li>
                        </ul>
                        <hr>
                        <span>زمان باقیمانده تا پایان سفارش</span>
                        <div class="counter" data-minutes-left="1000"><div class="jst-hours">16</div><div class="jst-minutes">36<span>:</span></div><div class="jst-seconds">37<span>:</span> </div><div class="jst-clearDiv"></div></div>
                    </div>
                </div>
                <div class="vizheh-tag">
                    <span>فرصت ویژه</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="book-baner">
                <a href="#"><img src="~/vsLayout/Imge/book-baner.jpg" class="w-100"></a>
                <h4>کتاب های کنکور</h4>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="two-slider">
                <h4>موبایل و تبلت</h4>
                <div class="owl-carousel owl-theme ov2 owl-rtl owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1908px;">
                            <div class="owl-item active" style="width: 262.5px; margin-left: 10px;">
                                <div class="item">
                                    <figure>
                                        <a href=""><img src="~/vsLayout/Imge/p20lite-listimage-black.png" class="w-100"></a>
                                    </figure>
                                    <h5>Samsung 500</h5>
                                    <span>1,200,000 تومان</span>
                                </div>
                            </div><div class="owl-item active" style="width: 262.5px; margin-left: 10px;">
                                <div class="item">
                                    <figure>
                                        <a href=""><img src="~/vsLayout/Imge/p20lite-listimage-black.png" class="w-100"></a>
                                    </figure>
                                    <h5>Samsung 500</h5>
                                    <span>1,200,000 تومان</span>
                                </div>
                            </div><div class="owl-item active" style="width: 262.5px; margin-left: 10px;">
                                <div class="item">
                                    <figure>
                                        <a href=""><img src="~/vsLayout/Imge/p20lite-listimage-black.png" class="w-100"></a>
                                    </figure>
                                    <h5>Samsung 500</h5>
                                    <span>1,200,000 تومان</span>
                                </div>
                            </div><div class="owl-item active" style="width: 262.5px; margin-left: 10px;">
                                <div class="item">
                                    <figure>
                                        <a href=""><img src="~/vsLayout/Imge/p20lite-listimage-black.png" class="w-100"></a>
                                    </figure>
                                    <h5>Samsung 500</h5>
                                    <span>1,200,000 تومان</span>
                                </div>
                            </div><div class="owl-item" style="width: 262.5px; margin-left: 10px;">
                                <div class="item">
                                    <figure>
                                        <a href=""><img src="~/vsLayout/Imge/p20lite-listimage-black.png" class="w-100"></a>
                                    </figure>
                                    <h5>Samsung 500</h5>
                                    <span>1,200,000 تومان</span>
                                </div>
                            </div><div class="owl-item" style="width: 262.5px; margin-left: 10px;">
                                <div class="item">
                                    <figure>
                                        <a href=""><img src="~/vsLayout/Imge/p20lite-listimage-black.png" class="w-100"></a>
                                    </figure>
                                    <h5>Samsung 500</h5>
                                    <span>1,200,000 تومان</span>
                                </div>
                            </div><div class="owl-item" style="width: 262.5px; margin-left: 10px;">
                                <div class="item">
                                    <figure>
                                        <a href=""><img src="~/vsLayout/Imge/p20lite-listimage-black.png" class="w-100"></a>
                                    </figure>
                                    <h5>Samsung 500</h5>
                                    <span>1,200,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="bodybulding-baner">
                <a href="#"><img src="~/vsLayout/Imge/bodybulding-baner.jpg" class="w-100"></a>
                <h4>مکمل های ورزشی</h4>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="blog-content">
                <figure>
                    <img src="~/vsLayout/Imge/off/1.jpg" class="w-100">
                </figure>
                <h5><i class="fa fa-title"></i>گوشی هوشمند جیبی</h5>
                <p>گوشی هوشمند جیبی تکنولوژی جدید کمپانی اپل،با خاصیت ضد آب بودن و حمل بسیار مخفی،باقابلیت حمل داخل گوش...</p>
                <ul>
                    <li><i class="fa fa-bars"></i>دسته بندی : تکنولوژی</li>
                    <li><i class="fa fa-calendar-o"></i>نوشته شده در : 97/10/20</li>
                    <li><i class="fa fa-user-o"></i>نویسنده : سئو 90</li>
                </ul>
                <a href="#" class="mybtn"><i class="fa fa-continuous"></i>ادامه مطلب»</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="blog-content">
                <figure>
                    <img src="~/vsLayout/Imge/off/1.jpg" class="w-100">
                </figure>
                <h5><i class="fa fa-title"></i>گوشی هوشمند جیبی</h5>
                <p>گوشی هوشمند جیبی تکنولوژی جدید کمپانی اپل،با خاصیت ضد آب بودن و حمل بسیار مخفی،باقابلیت حمل داخل گوش...</p>
                <ul>
                    <li><i class="fa fa-bars"></i>دسته بندی : تکنولوژی</li>
                    <li><i class="fa fa-calendar-o"></i>نوشته شده در : 97/10/20</li>
                    <li><i class="fa fa-user-o"></i>نویسنده : سئو 90</li>
                </ul>
                <a href="#" class="mybtn"><i class="fa fa-continuous"></i>ادامه مطلب»</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="blog-content">
                <figure>
                    <img src="~/vsLayout/Imge/off/1.jpg" class="w-100">
                </figure>
                <h5><i class="fa fa-title"></i>گوشی هوشمند جیبی</h5>
                <p>گوشی هوشمند جیبی تکنولوژی جدید کمپانی اپل،با خاصیت ضد آب بودن و حمل بسیار مخفی،باقابلیت حمل داخل گوش...</p>
                <ul>
                    <li><i class="fa fa-bars"></i>دسته بندی : تکنولوژی</li>
                    <li><i class="fa fa-calendar-o"></i>نوشته شده در : 97/10/20</li>
                    <li><i class="fa fa-user-o"></i>نویسنده : سئو 90</li>
                </ul>
                <a href="#" class="mybtn"><i class="fa fa-continuous"></i>ادامه مطلب»</a>
            </div>
        </div>
    </div>
</div>


